.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} release"
  = form_for [:admin, @project, @release], html: { :class => 'form' } do |f|
    - if @release.errors.any?
      #errors
        %ul
          - @release.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg  
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :notes
        = f.text_area :notes, :class => 'form-control', rows: 10
    .form-action
      = f.submit 'Save', :class => 'btn btn-blue btn-large'
.fourcol.last

