- content_for :title, 'Home'
- content_for :description, 'Release notes for open source projects by Tom Dallimore.'

- @projects.each_slice(3) do |slice|
    .row
        - slice.each_with_index do |project, index|
            %div{ :class => index == 2 ? 'fourcol last' : 'fourcol'}
                .project
                    %h1= project.name
                    .social
                        = link_to project.github, target: '_blank' do
                            %span.icon-github-3
                        - unless project.website.blank?
                            = link_to project.website, target: '_blank' do
                                %span.icon-earth
                    %p.desc= project.description
                    - if project.releases.complete.empty?
                        %p There are no releases yet for this project.
                    - else
                        %ul
                            - project.releases.complete.limit(10).each do |release|
                                %li
                                    = link_to release.name, [release.project, release]
                                    %div= release.created_at.strftime(" #{release.created_at.day.ordinalize} %b %Y")
                        .more= link_to 'More releases...', project if project.releases.complete.count > 10