- content_for :title, 'Listing projects'

.twelvecol
  .page-header
    = link_to new_admin_project_path, :class => 'btn btn-blue btn-large', "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add project" do
      %i.icon-plus
    %h2.widget.widget-header Projects
  - if @projects.empty?
    %p You don't have any projects yet.
  - else
        
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %tr
          %th Name
          %th Description
          %th Github
          %th Website
          %th No. of releases
          %th Latest release
          %th

        - @projects.each do |project|
          %tr
            %td= link_to project.name, project
            %td= project.description
            %td= link_to project.github, project.github, target: '_blank'
            %td= link_to project.website, project.website, target: '_blank'
            %td= project.releases.count
            %td= link_to project.releases.first.name, [project, project.releases.last] unless project.releases.empty?
            %td.triple-menu
              = link_to admin_project_releases_path(project) do
                %span.icon-file-3
              = link_to edit_admin_project_path(project) do
                %span.icon-pencil
              = link_to admin_project_path(project), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %span.icon-remove
              
              