- content_for :title, @project.name
- content_for :description, @project.description
.row
    .twelvecol
        .project
            %h1= @project.name
            .social
                - unless @project.github.blank?
                    = link_to @project.github, target: '_blank' do
                        %span.icon-github-3
                - unless @project.website.blank?
                    = link_to @project.website, target: '_blank' do
                        %span.icon-earth
            %p.desc= @project.description
            - if @project.releases.empty?
                %p There are no releases yet for this @project.
            - else
                %ul
                    - @project.releases.complete.each do |release|
                        %li
                            = link_to release.name, [release.project, release]
                            %div= release.date.strftime(" #{release.date.day.ordinalize} %b %Y")