= @project.name
= link_to 'Website', @project.website
= link_to 'Github', @project.github

- @project.releases.each do |release|
    
    = link_to release.name, [release.project, release]
    = raw(release.description)