.row
    .twelvecol
        .project
            %h2= @release.project.name
            .version
                %span= @release.name
                %div= @release.created_at.strftime(" #{@release.created_at.day.ordinalize} %b %Y")
            .notes= raw(@release.notes)
