!!!
%html
    %head
        %meta{charset: "utf-8"}/
        %title= "#{yield :title} - Release notes for open source projects by Tom Dallimore"
        %meta{content: "#{yield :description}", name: 'description' }
        %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
        %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
        = stylesheet_link_tag :application, media: "all", "data-turbolinks-track" => true
        = csrf_meta_tags
        %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700', rel: 'stylesheet', type: 'text/css' }
        %link{href: "/stylesheets/font.css", media: "screen", rel: "stylesheet"}/
        %link{rel: "shortcut icon", href:"images/favicon.png"}
        = javascript_include_tag "modernizr/modernizr"
    %body
        .main
            .container
                = yield
        %footer
            .container
                .row
                    .twelvecol
                        %p
                            Copyright © Tom Dallimore
                        %ul
                            %li
                                %a.icon-earth{href: 'http://www.tomdallimore.com', target: '_blank'}
                            %li
                                %a.icon-twitter{href: 'http://twitter.com/tom_dallimore', target: '_blank'}
                            %li
                                %a.icon-stackoverflow{href: 'http://stackoverflow.com/users/1459787/jellyfishboy', target: '_blank'}
                            %li
                                %a.icon-facebook{href: 'https://www.facebook.com/tomdallimoredev', target: '_blank'}
    = javascript_include_tag :application, "data-turbolinks-track" => true
    :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43710085-3', 'auto');
        ga('send', 'pageview');